body
{
    background:url(../img/back.png) fixed center center fixed;
}

.navbar
{
    background-color: #32526e;
}


#main-page
{
    background: url(../img/home-bg.png) no-repeat center center fixed; 
    background-size: 100% 100%;
}

footer
{
    margin-top: 2em;
    background-color: #323131;
    padding: 10px;
    color: white;
    line-height: 2em;
}

.page-header
{
    padding: 20px;
    background-color: #323131;
    text-align: center;
    font-weight: 700;
    margin: 2em 0em;
    color: white;
}

.main_container
{
    min-height: 500px;
}

.team-member
{
    border: 1pt solid #9999994f;
    padding: 2em;
    margin-bottom: 2em;
}

.team-member:first-child
{
    margin-top: 1em
}

.lost .btn
{
    margin: 3em 0em;
}

.services img
{
    height: 100px;
}

.service
{
    margin: 5em 0;
}

.service:first:child,.service:nth-child(2),.service:nth-child(4),.service:nth-child(5)
{
    border-right:1pt solid #666;
}

.service h4
{
    font-weight: 400;
    color: #32526e;
}

.logo
{
    height: 40px;
}

